{% comment %} <form  method='POST' action="{% url 'category_edit' category.id %}">
        
    {% csrf_token %} 

   {{form}}

   <button>
    update
   </button>

   </form> {% endcomment %}

   <style>
    /* Estilos para el formulario */
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para el botón */
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Estilos para los campos de entrada del formulario */
    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    /* Estilos para las etiquetas del formulario */
    label {
        display: block;
        margin-bottom: 5px;
    }
</style>

<form method="POST" action="{% url 'category_edit' category.id %}">
    {% csrf_token %}
    
    <label for="{{ form.name.id_for_label }}">Nombre de la categoría:</label>
    {{ form.name }}
    
    <button type="submit">Actualizar</button>
</form>

    


