{% extends 'layout.html' %} {% block content %}
    
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    agregar categoria
  </button>  


  {{error}}

  <h1>Categorias</h1>
    <table id="miTabla" class="display" style="width:100%">
        <thead>
            <tr>
              <th>id</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
          {% for category in categorys %}
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            
              <form id="delete-form-1" action="{% url 'category_remove' category.id %}" method='POST'>
                {% csrf_token %}
                <td><button type="button" class="btn btn-danger delete-button" data-form="delete-form-1"><i class="fa-solid fa-trash"></i></button>
              </form>
              {% comment %} <a type="button" class="btn btn-primary" href="{% url 'category_edit' category.id %}"><i class="fa-solid fa-pencil"></i></a> {% endcomment %}
              <button class="cargarURL" data-url="{% url 'category_edit' category.id %}">prueba</button>
            </td>
          </tr>
        {% endfor %}
            <!-- Agrega más filas con datos aquí -->
        </tbody>
    </table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Categoria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
         <div class="container">
  <div class="row">
      <div class="col-md-8">
          <form action="/categorys/create/" method="POST">
              {% csrf_token %}
              
              <div class="mb-3">
                  <label for="{{ form.name.id_for_label }}" class="form-label">Nombre:</label>
                  <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.data }}" class="form-control">
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
          </form>
      </div>
  </div>
</div> 
        
      </div>
    </div>
  </div>


<!------------------------------------------>


<div id="contenidoURL"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const cargarURLButtons = document.querySelectorAll(".cargarURL");
      const contenidoURL = document.getElementById("contenidoURL");

      cargarURLButtons.forEach(button => {
          button.addEventListener("click", function() {
              // Obtén la URL almacenada en el atributo data-url del botón
              const url = this.getAttribute("data-url");
              
              // Realiza una solicitud HTTP usando JavaScript
              fetch(url)
                  .then(response => response.text())
                  .then(data => {
                      // Muestra el contenido de la URL en el contenedor
                      contenidoURL.innerHTML = data;
                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
          });
      });
  });
</script>


<!------------------------------------------>

  <script>
    $(document).ready(function() {
        // Inicializa DataTables en la tabla con id "miTabla"
        $('#miTabla').DataTable();
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const deleteButtons = document.querySelectorAll(".delete-button");
    
      deleteButtons.forEach((button) => {
        button.addEventListener("click", function() {
          const formId = button.getAttribute("data-form");
          const deleteForm = document.getElementById(formId);
    
          Swal.fire({
            title: 'Estas seguro?',
            text: "No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Sí, bórralo!',
            cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.isConfirmed) {
              // Si el usuario confirma, envía el formulario correspondiente
              deleteForm.submit();
            }
          });
        });
      });
    });
    </script>

{% endblock %}

